.caratula{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 80vh;
    margin: 30px 60px 60px;
}
.titulo{
    width: 50%;
    color: #f1f1f1;
}
.titulo_p{
    font-size: 1.2rem;
    text-align: justify;
    width: 80%;
    margin-top: 50px;
}
.titulo_h1{
    font-size: 5rem;
}
.img_caratula{
    width: 90%;
    transform: rotate(15deg);
}

.titulo_btn{
margin-top: 50px;
}
.titulo_btn:hover{
    transform: scale(1.1);
    
}
.whats{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
    padding: 3px;
    z-index:100;
}
.whats:hover{
    transform: scale(1.1);
}

@media only screen and (max-width: 600px){
    .caratula{
    width: 95%;
    margin: 0 auto;
    height: fit-content;
}
    .titulo{
        width: 80%;
    }
    .titulo_h1{
        font-size: 3rem;
        margin: 0 auto;
    }
    .titulo_p{
        display: none;
    }
    .img_caratula{
       transform: rotate(0deg);
       height: 400px;
       width: 200px;
    }
    .titulo_btn{
        margin-top: 20px;
        }
}