.mod{
    padding: 50px 0 100px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    margin: 0;
    width: 100%;
    background-color: rgba(60,132,206,1);
}
.img_caratula{
    margin-left: 40px;
}
.h2{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 20px 0 0 ;
    font-size: 3.5rem;
}

.subtitulo{
    color: #f1f1f1;
    display: flex;
    justify-content: center;
    padding: 0 0 20px;
    font-size: 1.2rem;
}
.row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    

}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(241, 241, 241, 0.4);
    border: none;
    color: #f1f1f1;
    width: 350px;
}
.title{
    font-size: 2rem;
    justify-content: center;
    margin-top: 15px;
}
.text{
    font-size: 1.2rem; 
}

.icon{
    width: 20px;
    margin-right: 5px;
}
.card:hover{
    opacity: 1;
}
.btn{
    background-color: rgba(60,132,206,1);
    width: 150px;
    margin: 15px 0;
    border: none;
}
.btn:hover{
transform: scale(1.2);
background-color:rgb(46, 185, 176) ;
}
.imgGrande{
    width: 130px;
    margin: 0 auto;
    justify-content: center;
}


@media only screen and (max-width: 600px){
    .mod{
    width: 100vw;
    height: fit-content;
    justify-content: center;
    padding: 0;
    margin: 0 auto ;
}
    .h2{
        font-size: 2.5rem;
        margin: 60px auto 20px;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .p{
        color: #f1f1f1;
        display: flex;
        margin: 0 auto;
        padding: 20px auto 40px;
        font-size: 1.2rem;
        width: 80%;
    }
    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        opacity: 1;
        background-color: transparent;
        color: #f1f1f1;
        border: none;
    }
    .row{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    
    }
    .imgGrande{
        width: 100px;
        margin: 0 auto;
    }
    .title{
        font-size: 2rem;
    }
    .text{
        font-size: 1rem; 
    }
    .btn{
        width: 120px;
        background-color: black;
        border-color: black;
    }
    .btn:hover{
        transform: scale(1);
        }

}